pipeline/Pipeline - Process PDF Files - Stage Zone.json
{
	"name": "Pipeline - Process PDF Files - Stage Zone",
	"properties": {
		"activities": [
			{
				"name": "Reading PDF Files - Stagefiles Zone",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Capturar ultima invocacion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "Procesar Archivos PDF - Zona Stage",
						"type": "NotebookReference"
					},
					"parameters": {
						"pdf_user": {
							"value": {
								"value": "bsmoralesg@outlook.com",
								"type": "Expression"
							},
							"type": "string"
						},
						"pdf_type": {
							"value": "Tarjeta Credito",
							"type": "string"
						},
						"pdf_fecha": {
							"value": "10012023",
							"type": "string"
						},
						"file_name": {
							"value": "Extracto_7358651_202108_TARJETA_VISA_2166.pdf",
							"type": "string"
						},
						"pdf_password": {
							"value": "1233491047",
							"type": "string"
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "spproymaestria",
						"type": "BigDataPoolReference"
					},
					"executorSize": "Small",
					"conf": {
						"spark.dynamicAllocation.enabled": false,
						"spark.dynamicAllocation.minExecutors": 1,
						"spark.dynamicAllocation.maxExecutors": 1
					},
					"driverSize": "Small",
					"numExecutors": 1
				}
			},
			{
				"name": "Validar Tipo Producto",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Reading PDF Files - Stagefiles Zone",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@activity('Capturar ultima invocacion').output.firstRow.type",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "Tarjeta Credito",
							"activities": [
								{
									"name": "Reading Raw Data - StageData Zone - Tarjeta de Credito",
									"type": "SynapseNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebook": {
											"referenceName": "Procesar Data Cruda PDF - Zona Data - Tarjeta Credito",
											"type": "NotebookReference"
										},
										"parameters": {
											"user": {
												"value": "bsmoralesg@outlook.com",
												"type": "string"
											},
											"type": {
												"value": "Tarjeta Credito",
												"type": "string"
											},
											"fecha": {
												"value": "10012023",
												"type": "string"
											},
											"name": {
												"value": "Extracto_403340132_202305_TARJETA_VISA_2166",
												"type": "string"
											}
										},
										"snapshot": true,
										"sparkPool": {
											"referenceName": "spproymaestria",
											"type": "BigDataPoolReference"
										},
										"executorSize": "Small",
										"conf": {
											"spark.dynamicAllocation.enabled": false,
											"spark.dynamicAllocation.minExecutors": 1,
											"spark.dynamicAllocation.maxExecutors": 1
										},
										"driverSize": "Small",
										"numExecutors": 1
									}
								}
							]
						},
						{
							"value": "Cuenta Ahorros",
							"activities": [
								{
									"name": "Reading Raw Data - StageData Zone - Cuenta Ahorro",
									"type": "SynapseNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebook": {
											"referenceName": "Procesar Data Cruda PDF - Zona Data - Cuenta Ahorro",
											"type": "NotebookReference"
										},
										"parameters": {
											"user": {
												"value": "bsmoralesg@outlook.com",
												"type": "string"
											},
											"type": {
												"value": "Tarjeta Credito",
												"type": "string"
											},
											"fecha": {
												"value": "10012023",
												"type": "string"
											},
											"name": {
												"value": "Extracto_7358651_202108_TARJETA_VISA_2166.pdf",
												"type": "string"
											}
										},
										"snapshot": true,
										"sparkPool": {
											"referenceName": "spproymaestria",
											"type": "BigDataPoolReference"
										},
										"executorSize": "Small",
										"conf": {
											"spark.dynamicAllocation.enabled": false,
											"spark.dynamicAllocation.minExecutors": 1,
											"spark.dynamicAllocation.maxExecutors": 1
										},
										"driverSize": "Small",
										"numExecutors": 1
									}
								}
							]
						},
						{
							"value": "Fondos de Inversion",
							"activities": [
								{
									"name": "Reading Raw Data - StageData Zone - Fondo de Inversion",
									"type": "SynapseNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebook": {
											"referenceName": "Procesar Data Cruda PDF - Zona Data - Cuenta Ahorro",
											"type": "NotebookReference"
										},
										"parameters": {
											"user": {
												"value": "bsmoralesg@outlook.com",
												"type": "string"
											},
											"type": {
												"value": "Tarjeta Credito",
												"type": "string"
											},
											"fecha": {
												"value": "10012023",
												"type": "string"
											},
											"name": {
												"value": "Extracto_7358651_202108_TARJETA_VISA_2166.pdf",
												"type": "string"
											}
										},
										"snapshot": true,
										"sparkPool": {
											"referenceName": "spproymaestria",
											"type": "BigDataPoolReference"
										},
										"executorSize": "Small",
										"conf": {
											"spark.dynamicAllocation.enabled": false,
											"spark.dynamicAllocation.minExecutors": 1,
											"spark.dynamicAllocation.maxExecutors": 1
										},
										"driverSize": "Small",
										"numExecutors": 1
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Capturar ultima invocacion",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlPoolSource",
						"sqlReaderQuery": "select top 1 * from params.datausers \norder by fecha_registro desc",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Synapse_ProyectoMaestria",
						"type": "DatasetReference"
					}
				}
			}
		],
		"annotations": []
	}
}