pipeline/Pipeline - Process PDF Files - Stage Zone.json
{
	"name": "Pipeline - Process PDF Files - Stage Zone",
	"properties": {
		"activities": [
			{
				"name": "Capturar ultima invocacion",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlPoolSource",
						"sqlReaderQuery": "select * from params.datausers \nwhere password is not null and procesado = 0",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Synapse_ProyectoMaestria",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Valida Archivos a procesar",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Capturar ultima invocacion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(activity('Capturar ultima invocacion').output.count,1)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Cambio status a en proceso",
							"description": "",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "synapseproyectomaestria-WorkspaceDefaultSqlServer",
								"type": "LinkedServiceReference",
								"parameters": {
									"DBName": "sqlpoolproyectomaestria"
								}
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": "update params.datausers\nset procesado = 1 \nwhere procesado = 0"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Para Cada Proceso",
							"type": "ForEach",
							"dependsOn": [
								{
									"activity": "Cambio status a en proceso",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "@activity('Capturar ultima invocacion').output.value",
									"type": "Expression"
								},
								"isSequential": true,
								"activities": [
									{
										"name": "Reading PDF Files - Stagefiles Zone",
										"type": "SynapseNotebook",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"notebook": {
												"referenceName": "Procesar Archivos PDF - Zona Stage",
												"type": "NotebookReference"
											},
											"parameters": {
												"pdf_user": {
													"value": {
														"value": "@item().usuario",
														"type": "Expression"
													},
													"type": "string"
												},
												"pdf_type": {
													"value": {
														"value": "@item().type",
														"type": "Expression"
													},
													"type": "string"
												},
												"pdf_fecha": {
													"value": {
														"value": "@item().fecha",
														"type": "Expression"
													},
													"type": "string"
												},
												"file_name": {
													"value": {
														"value": "@item().pdfname",
														"type": "Expression"
													},
													"type": "string"
												},
												"pdf_password": {
													"value": {
														"value": "@item().password",
														"type": "Expression"
													},
													"type": "string"
												}
											},
											"snapshot": true,
											"sparkPool": {
												"referenceName": "spproymaestria",
												"type": "BigDataPoolReference"
											},
											"executorSize": "Small",
											"conf": {
												"spark.dynamicAllocation.enabled": false,
												"spark.dynamicAllocation.minExecutors": 1,
												"spark.dynamicAllocation.maxExecutors": 1
											},
											"driverSize": "Small",
											"numExecutors": 1
										}
									},
									{
										"name": "Validar Tipo Producto",
										"type": "Switch",
										"dependsOn": [
											{
												"activity": "Reading PDF Files - Stagefiles Zone",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"on": {
												"value": "@item().type",
												"type": "Expression"
											},
											"cases": [
												{
													"value": "Tarjeta Credito",
													"activities": [
														{
															"name": "Reading Raw Data - StageData Zone - Tarjeta de Credito",
															"type": "SynapseNotebook",
															"dependsOn": [],
															"policy": {
																"timeout": "0.12:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"notebook": {
																	"referenceName": "Procesar Data Cruda PDF - Zona Data - Tarjeta Credito",
																	"type": "NotebookReference"
																},
																"parameters": {
																	"user": {
																		"value": {
																			"value": "@item().usuario",
																			"type": "Expression"
																		},
																		"type": "string"
																	},
																	"type": {
																		"value": {
																			"value": "@item().type",
																			"type": "Expression"
																		},
																		"type": "string"
																	},
																	"fecha": {
																		"value": {
																			"value": "@item().password",
																			"type": "Expression"
																		},
																		"type": "string"
																	},
																	"name": {
																		"value": {
																			"value": "@replace(item().pdfname,'.pdf','')",
																			"type": "Expression"
																		},
																		"type": "string"
																	}
																},
																"snapshot": true,
																"sparkPool": {
																	"referenceName": "spproymaestria",
																	"type": "BigDataPoolReference"
																},
																"executorSize": "Small",
																"conf": {
																	"spark.dynamicAllocation.enabled": false,
																	"spark.dynamicAllocation.minExecutors": 1,
																	"spark.dynamicAllocation.maxExecutors": 1
																},
																"driverSize": "Small",
																"numExecutors": 1
															}
														}
													]
												},
												{
													"value": "Cuenta Ahorros",
													"activities": [
														{
															"name": "Reading Raw Data - StageData Zone - Cuenta Ahorro",
															"type": "SynapseNotebook",
															"dependsOn": [],
															"policy": {
																"timeout": "0.12:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"notebook": {
																	"referenceName": "Procesar Data Cruda PDF - Zona Data - Cuenta Ahorro",
																	"type": "NotebookReference"
																},
																"parameters": {
																	"user": {
																		"value": {
																			"value": "@item().usuario",
																			"type": "Expression"
																		},
																		"type": "string"
																	},
																	"type": {
																		"value": {
																			"value": "@item().type",
																			"type": "Expression"
																		},
																		"type": "string"
																	},
																	"fecha": {
																		"value": {
																			"value": "@item().fecha",
																			"type": "Expression"
																		},
																		"type": "string"
																	},
																	"name": {
																		"value": {
																			"value": "@replace(item().pdfname,'.pdf','')",
																			"type": "Expression"
																		},
																		"type": "string"
																	}
																},
																"snapshot": true,
																"sparkPool": {
																	"referenceName": "spproymaestria",
																	"type": "BigDataPoolReference"
																},
																"executorSize": "Small",
																"conf": {
																	"spark.dynamicAllocation.enabled": false,
																	"spark.dynamicAllocation.minExecutors": 1,
																	"spark.dynamicAllocation.maxExecutors": 1
																},
																"driverSize": "Small",
																"numExecutors": 1
															}
														}
													]
												},
												{
													"value": "Fondos de Inversion",
													"activities": [
														{
															"name": "Reading Raw Data - StageData Zone - Fondo de Inversion",
															"type": "SynapseNotebook",
															"dependsOn": [],
															"policy": {
																"timeout": "0.12:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"notebook": {
																	"referenceName": "Procesar Data Cruda PDF - Zona Data - Cuenta Ahorro",
																	"type": "NotebookReference"
																},
																"parameters": {
																	"user": {
																		"value": {
																			"value": "@item().usuario",
																			"type": "Expression"
																		},
																		"type": "string"
																	},
																	"type": {
																		"value": {
																			"value": "@item().type",
																			"type": "Expression"
																		},
																		"type": "string"
																	},
																	"fecha": {
																		"value": {
																			"value": "@item().fecha",
																			"type": "Expression"
																		},
																		"type": "string"
																	},
																	"name": {
																		"value": {
																			"value": "@replace(item().pdfname,'.pdf','')",
																			"type": "Expression"
																		},
																		"type": "string"
																	}
																},
																"snapshot": true,
																"sparkPool": {
																	"referenceName": "spproymaestria",
																	"type": "BigDataPoolReference"
																},
																"executorSize": "Small",
																"conf": {
																	"spark.dynamicAllocation.enabled": false,
																	"spark.dynamicAllocation.minExecutors": 1,
																	"spark.dynamicAllocation.maxExecutors": 1
																},
																"driverSize": "Small",
																"numExecutors": 1
															}
														}
													]
												}
											]
										}
									},
									{
										"name": "Cambio status a finalizado",
										"description": "",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "Validar Tipo Producto",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "synapseproyectomaestria-WorkspaceDefaultSqlServer",
											"type": "LinkedServiceReference",
											"parameters": {
												"DBName": "sqlpoolproyectomaestria"
											}
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "update params.datausers\nset procesado = 2 \nwhere procesado = 1 \nand pdfname = item().pdfname",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									}
								]
							}
						},
						{
							"name": "Procesar Dim Cliente",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Para Cada Proceso",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[modelo_transacciones].[SP_Manage_Dim_Cliente]"
							},
							"linkedServiceName": {
								"referenceName": "synapseproyectomaestria-WorkspaceDefaultSqlServer",
								"type": "LinkedServiceReference",
								"parameters": {
									"DBName": "sqlpoolproyectomaestria"
								}
							}
						},
						{
							"name": "Procesar Dim Producto",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Para Cada Proceso",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[modelo_transacciones].[SP_Manage_Dim_Producto]"
							},
							"linkedServiceName": {
								"referenceName": "synapseproyectomaestria-WorkspaceDefaultSqlServer",
								"type": "LinkedServiceReference",
								"parameters": {
									"DBName": "sqlpoolproyectomaestria"
								}
							}
						},
						{
							"name": "Procesar Dim Fact transacciones",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Procesar Dim Producto",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Procesar Dim Cliente",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[modelo_transacciones].[SP_Manage_Dim_Producto]"
							},
							"linkedServiceName": {
								"referenceName": "synapseproyectomaestria-WorkspaceDefaultSqlServer",
								"type": "LinkedServiceReference",
								"parameters": {
									"DBName": "sqlpoolproyectomaestria"
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}