pipeline/Pipeline - Process PDF Files - Stage Zone.json
{
	"name": "Pipeline - Process PDF Files - Stage Zone",
	"properties": {
		"activities": [
			{
				"name": "Capturar ultima invocacion",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlPoolSource",
						"sqlReaderQuery": "select * from params.datausers \n",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Synapse_ProyectoMaestria",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Para Cada Proceso",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Capturar ultima invocacion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Capturar ultima invocacion').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Reading PDF Files - Stagefiles Zone_copy1",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "Procesar Archivos PDF - Zona Stage",
									"type": "NotebookReference"
								},
								"parameters": {
									"pdf_user": {
										"value": {
											"value": "@item().usuario",
											"type": "Expression"
										},
										"type": "string"
									},
									"pdf_type": {
										"value": {
											"value": "@item().type",
											"type": "Expression"
										},
										"type": "string"
									},
									"pdf_fecha": {
										"value": {
											"value": "@item().fecha",
											"type": "Expression"
										},
										"type": "string"
									},
									"file_name": {
										"value": {
											"value": "@item().pdfname",
											"type": "Expression"
										},
										"type": "string"
									},
									"pdf_password": {
										"value": {
											"value": "@item().password",
											"type": "Expression"
										},
										"type": "string"
									}
								},
								"snapshot": true,
								"sparkPool": {
									"referenceName": "spproymaestria",
									"type": "BigDataPoolReference"
								},
								"executorSize": "Small",
								"conf": {
									"spark.dynamicAllocation.enabled": false,
									"spark.dynamicAllocation.minExecutors": 1,
									"spark.dynamicAllocation.maxExecutors": 1
								},
								"driverSize": "Small",
								"numExecutors": 1
							}
						},
						{
							"name": "Validar Tipo Producto_copy1",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "Reading PDF Files - Stagefiles Zone_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().type",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "Tarjeta Credito",
										"activities": [
											{
												"name": "Reading Raw Data - StageData Zone - Tarjeta de Credito",
												"type": "SynapseNotebook",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"notebook": {
														"referenceName": "Procesar Data Cruda PDF - Zona Data - Tarjeta Credito",
														"type": "NotebookReference"
													},
													"parameters": {
														"user": {
															"value": {
																"value": "@item().usuario",
																"type": "Expression"
															},
															"type": "string"
														},
														"type": {
															"value": {
																"value": "@item().type",
																"type": "Expression"
															},
															"type": "string"
														},
														"fecha": {
															"value": {
																"value": "@item().password",
																"type": "Expression"
															},
															"type": "string"
														},
														"name": {
															"value": {
																"value": "@replace(item().pdfname,'.pdf','')",
																"type": "Expression"
															},
															"type": "string"
														}
													},
													"snapshot": true,
													"sparkPool": {
														"referenceName": "spproymaestria",
														"type": "BigDataPoolReference"
													},
													"executorSize": "Small",
													"conf": {
														"spark.dynamicAllocation.enabled": false,
														"spark.dynamicAllocation.minExecutors": 1,
														"spark.dynamicAllocation.maxExecutors": 1
													},
													"driverSize": "Small",
													"numExecutors": 1
												}
											}
										]
									},
									{
										"value": "Cuenta Ahorros",
										"activities": [
											{
												"name": "Reading Raw Data - StageData Zone - Cuenta Ahorro_copy1",
												"type": "SynapseNotebook",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"notebook": {
														"referenceName": "Procesar Data Cruda PDF - Zona Data - Cuenta Ahorro",
														"type": "NotebookReference"
													},
													"parameters": {
														"user": {
															"value": {
																"value": "@item().usuario",
																"type": "Expression"
															},
															"type": "string"
														},
														"type": {
															"value": {
																"value": "@item().type",
																"type": "Expression"
															},
															"type": "string"
														},
														"fecha": {
															"value": {
																"value": "@item().fecha",
																"type": "Expression"
															},
															"type": "string"
														},
														"name": {
															"value": {
																"value": "@replace(item().pdfname,'.pdf','')",
																"type": "Expression"
															},
															"type": "string"
														}
													},
													"snapshot": true,
													"sparkPool": {
														"referenceName": "spproymaestria",
														"type": "BigDataPoolReference"
													},
													"executorSize": "Small",
													"conf": {
														"spark.dynamicAllocation.enabled": false,
														"spark.dynamicAllocation.minExecutors": 1,
														"spark.dynamicAllocation.maxExecutors": 1
													},
													"driverSize": "Small",
													"numExecutors": 1
												}
											}
										]
									},
									{
										"value": "Fondos de Inversion",
										"activities": [
											{
												"name": "Reading Raw Data - StageData Zone - Fondo de Inversion_copy1",
												"type": "SynapseNotebook",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"notebook": {
														"referenceName": "Procesar Data Cruda PDF - Zona Data - Cuenta Ahorro",
														"type": "NotebookReference"
													},
													"parameters": {
														"user": {
															"value": "bsmoralesg@outlook.com",
															"type": "string"
														},
														"type": {
															"value": "Tarjeta Credito",
															"type": "string"
														},
														"fecha": {
															"value": "10012023",
															"type": "string"
														},
														"name": {
															"value": "Extracto_7358651_202108_TARJETA_VISA_2166.pdf",
															"type": "string"
														}
													},
													"snapshot": true,
													"sparkPool": {
														"referenceName": "spproymaestria",
														"type": "BigDataPoolReference"
													},
													"executorSize": "Small",
													"conf": {
														"spark.dynamicAllocation.enabled": false,
														"spark.dynamicAllocation.minExecutors": 1,
														"spark.dynamicAllocation.maxExecutors": 1
													},
													"driverSize": "Small",
													"numExecutors": 1
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "Procesar Dim Cliente_copy1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Validar Tipo Producto_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[modelo_transacciones].[SP_Manage_Dim_Cliente]"
							},
							"linkedServiceName": {
								"referenceName": "synapseproyectomaestria-WorkspaceDefaultSqlServer",
								"type": "LinkedServiceReference",
								"parameters": {
									"DBName": "sqlpoolproyectomaestria"
								}
							}
						},
						{
							"name": "Procesar Dim Producto_copy1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Validar Tipo Producto_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[modelo_transacciones].[SP_Manage_Dim_Producto]"
							},
							"linkedServiceName": {
								"referenceName": "synapseproyectomaestria-WorkspaceDefaultSqlServer",
								"type": "LinkedServiceReference",
								"parameters": {
									"DBName": "sqlpoolproyectomaestria"
								}
							}
						},
						{
							"name": "Procesar Dim Fact transacciones_copy1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Procesar Dim Cliente_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Procesar Dim Producto_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[modelo_transacciones].[SP_Manage_Dim_Producto]"
							},
							"linkedServiceName": {
								"referenceName": "synapseproyectomaestria-WorkspaceDefaultSqlServer",
								"type": "LinkedServiceReference",
								"parameters": {
									"DBName": "sqlpoolproyectomaestria"
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}